# 1.	Write a Python Program to Find the Factorial of a Number?

In [5]:
# take input from the user
num = int(input("Enter Number: "))

fact = 1

if num < 0:
    print("Negative Number Don't Have Factorial. ")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        fact = fact*i
    print("The factorial of",num,"is",fact)

Enter Number: 5
The factorial of 5 is 120

# 2.	Write a Python Program to Display the multiplication Table?

In [7]:
num = int(input("Enter Number: "))
print(f"The Table of {num} is: ")
for i in range(1,11):
    print(i*num)

Enter Number: 5
The Table of 5 is:
5
10
15
20
25
30
35
40
45
50

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [10]:
num = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

if num<= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif num == 1:
   print("Fibonacci sequence upto",num,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < num:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 0
Please enter a positive integer

# 4.	Write a Python Program to Check Armstrong Number?

In [23]:
num = int(input("Enter a number: "))

sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# display the result
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [26]:
print("Enter the Initial and Last Value in Interval")
initial = int(input("Enter Initial Value: "))
last = int(input("Enter Last Value: "))

for num in range(initial, last + 1):

    order = len(str(num))
    
    sum = 0

    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        print(num)

Enter the Initial and Last Value in Interval
Enter Initial Value: 100
Enter Last Value: 10000
153
370
371
407
1634
8208
9474

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [30]:
num = int(input("Enter a number: "))  
  
if num < 0:  
    print("Enter a positive number")  
else:  
    sum = 0  
    while(num > 0):  
        sum += num  
        num -= 1  
    print("The sum is",sum)

Enter a number: 10
The sum is 55